# Ignore macOS system files
.DS_Store
.Trash/

# Ignore Python, Anaconda, and Jupyter-related folders
.anaconda/
.conda/
.ipython/
.jupyter/
.ipynb_checkpoints/
.vscode/

# Ignore system folders like Downloads, Documents, etc.
/Documents/
/Downloads/
/Desktop/
/Pictures/
/Movies/
/Music/
/Library/

# Ignore other config or profile files
.bash_profile
.zshrc
.gitconfig

MD_system/generate_fake_doses_for_all.py
MD_system/fix_invalid_times.py
MD_system/check_upcoming_doses.py
